<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
  <h:outputStylesheet library="css" name="tablestyle.css"  />
</h:head>
<h:body>

  <h1>UserTable</h1>

  <h:dataTable value="#{userbean.persistUsers()}" var="o"
               styleClass="table"
               headerClass="table-header"
               rowClasses="table-odd-row,table-even-row"
  >

    <h:column>
      <f:facet name="header">ID</f:facet>
      #{o.id}
    </h:column>

    <h:column>
      <f:facet name="header">Name</f:facet>
      #{o.name}
    </h:column>

    <h:column>
      <f:facet name="header">Salary</f:facet>
      #{o.salary}
    </h:column>

    <h:column>
      <f:facet name="header">IsMusician</f:facet>
      #{o.isMusician}
    </h:column>

  </h:dataTable>

</h:body>
</html>
